// Clients
.page-clients {
	// Clients grid
	.clients-grid {
		padding-top: 2em;
		position: relative;
		z-index: 10;
		margin-bottom: 2em;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.client-logos {
		@include clearfix;
		.client-logo-set {
			width: 50%;
			float: left;
			padding: 1px;
			position: relative;
			@include breakpoint(sm) {
				width: 33.33%
			}
			@include breakpoint(md) {
				width: 50%;
			}
			@include breakpoint(md) {
				width: 33%;
			}
			&:nth-of-type(1) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 3s;
					}
					&:nth-of-type(2){
						animation-delay: 13s;
					}
				}
			}
			&:nth-of-type(2) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 1s;
					}
					&:nth-of-type(2){
						animation-delay: 11s;
					}
				}
			}
			&:nth-of-type(3) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 5s;
					}
					&:nth-of-type(2){
						animation-delay: 15s;
					}
				}
			}
			&:nth-of-type(4) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 2s;
					}
					&:nth-of-type(2){
						animation-delay: 12s;
					}
				}
			}
			&:nth-of-type(5) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 0s;
					}
					&:nth-of-type(2){
						animation-delay: 10s;
					}
				}
			}
			&:nth-of-type(6) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 4s;
					}
					&:nth-of-type(2){
						animation-delay: 14s;
					}
				}
			}
			.item {
				background-color: rgba($white, 0.6);
				width: 100%;
				height: 90px;
				@include breakpoint(sm) {
					height: 140px;
				}
				@include breakpoint(md) {
					height: 180px;
				}
				.logo-client {
					@include transition;
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					opacity: 0;
					overflow: hidden;
					backface-visibility: hidden;
					animation-name: clients-grid;
					animation-duration: 20s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						max-height: 40px;
						max-width: 100px;
						transform: translate(-50%, -50%);
						@include breakpoint(sm) {
							max-height: 50px;
							max-width: 150px;
						}
						@include breakpoint(md) {
							max-height: 70px;
							max-width: 200px;
						}
					}
					// &:nth-of-type(1){
					// 	animation-delay: 0s;
					// }
					// &:nth-of-type(2){
					// 	animation-delay: 5s;
					// }
				}
			}
		}
	}
}

@keyframes clients-grid {
	0%{opacity:0; z-index:10;}
	5%{opacity:1;}
	
	45%{opacity:1;}
	50%{opacity:0; z-index:0;}
	
	100%{opacity:0;}
}
