// --- [ Index ]
// Intro
.page-intro {
	.lead {
		@include breakpoint(sm) {
			width: 70%;
			margin: 0 auto;
		}
		@include breakpoint(md) {
			width: 60%;
			max-width: 550px;
		}
		@include breakpoint(lg) {
			width: 50%;
		}
	}
	.offers {
		position: relative;
		z-index: 10;
		@include breakpoint(sm) {
			padding-top: 2em;
			width: 100%;
		}
		@include breakpoint(md) {
			padding-top: 3em;
		}
		@include breakpoint(lg) {
			padding-top: 4.5em;
		}
	}
	.offer-list {
		@include clearfix;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		@include breakpoint(sm) {
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}
	.offer-item {
		padding-bottom: 30px;
		width: 46%;
		flex-grow: 1;
		padding-left: 2em;
		padding-right: 2em;
		@include breakpoint(sm) {
			width: auto;
		}
		.offer-link {
			@include transition;
			display: block;
			position: relative;
			color: darken($white, 20%);
			&:hover,
			&:focus {
				color: $white;
				text-decoration: none;
				&:after {
					color: $white;
					transform: translate3d(0, -10px, 0);
					.touch & {
						transform: translate3d(0, 5px, 0);
					}
				}
				.icon {
					transform: scale(1.3);
				}
				.offer-title {
					padding-top: 10px;
				}
			}
			&:after {
				@include transition;
				content: "\f107";
				font-family: "FontAwesome";
				position: absolute;
				margin-left: -0.3em;
				left: 50%;
				color: transparent;
				font-size: 20px;
				bottom: -20px;
				@include breakpoint(sm) {
					font-size: 30px;
					bottom: -60px;
				}
			}
			@include breakpoint(sm) {
				padding-top: 2em;
				padding-bottom: 2em;
			}
			@include breakpoint(md) {
				padding-top: 3em;
				padding-bottom: 3em;
			}
			@include breakpoint(lg) {
				padding-top: 4.5em;
				padding-bottom: 4.5em;
			}
			.offer-title {
				@include transition;
				display: block;
				font-size: 12px;
				font-weight: 500;
				line-height: 1.2em;
				@include breakpoint(sm) {
					font-size: 22px;
				}
				@include breakpoint(md) {
					font-size: 24px;
				}
			}
			.icon {
				@include transition;
				display: block;
				font-size: 30px;
				@include breakpoint(sm) {
					font-size: 50px;
					margin-bottom: 0.5em;
				}
				@include breakpoint(md) {
					font-size: 60px;
				}
			}
		}
	}
}

// Moving
.page-moving {
	// Questionnaire
	// Toggle form section
	.form-section-toggle {
		color: $grey;
		display: block;
		margin-bottom: 1em;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:before {
			content: '\f067';
			font-family: 'FontAwesome';
		}
		&[aria-expanded="true"] {
			&:before {
				content: '\f068';
			}
		}
		@include breakpoint(sm) {
			display: none;
		}
		& + .form-section.collapse {
			@include breakpoint(sm) {
				display: block;
			}
		}
	}
	// Toggle form element
	.form-label-toggle {
		font-weight: bold;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:before {
			content: '\f067';
			font-family: 'FontAwesome';
		}
		&[aria-expanded="true"] {
			&:before {
				content: '\f068';
			}
		}
	}
	.form-section {
		.checkbox {
			margin-top: 0;
		}
	}
	// Moving section
	.form-section-moving {
		margin-left: -21px;
		margin-right: -21px;
		padding-left: 13px;
		padding-right: 13px;
		background-color: rgba($grey, 0.1);
		padding-top: 1em;
		margin-bottom: 1em;
		@include breakpoint(sm) {
			margin-left: -28px;
			margin-right: -28px;
		}
	}
	// Submit form
	.form-actions {
		.btn-submit {
			display: block;
			width: 100%;
			text-transform: uppercase;
			@include breakpoint(sm) {
				width: auto;
				display: inline-block;
			}
		}
	}
}

// Clients
.page-clients {
	// Clients grid
	.clients-grid {
		padding-top: 2em;
		position: relative;
		z-index: 10;
		margin-bottom: 2em;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.client-logos {
		@include clearfix;
		.client-logo-set {
			width: 50%;
			float: left;
			padding: 1px;
			position: relative;
			@include breakpoint(sm) {
				width: 33.33%
			}
			@include breakpoint(md) {
				width: 50%;
			}
			@include breakpoint(md) {
				width: 33%;
			}
			&:nth-of-type(1) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 3s;
					}
					&:nth-of-type(2){
						animation-delay: 13s;
					}
				}
			}
			&:nth-of-type(2) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 1s;
					}
					&:nth-of-type(2){
						animation-delay: 11s;
					}
				}
			}
			&:nth-of-type(3) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 5s;
					}
					&:nth-of-type(2){
						animation-delay: 15s;
					}
				}
			}
			&:nth-of-type(4) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 2s;
					}
					&:nth-of-type(2){
						animation-delay: 12s;
					}
				}
			}
			&:nth-of-type(5) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 0s;
					}
					&:nth-of-type(2){
						animation-delay: 10s;
					}
				}
			}
			&:nth-of-type(6) {
				.logo-client {
					&:nth-of-type(1){
						animation-delay: 4s;
					}
					&:nth-of-type(2){
						animation-delay: 14s;
					}
				}
			}
			.item {
				background-color: rgba($white, 0.3);
				width: 100%;
				height: 90px;
				@include breakpoint(sm) {
					height: 140px;
				}
				@include breakpoint(md) {
					height: 180px;
				}
				.logo-client {
					@include transition;
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					opacity: 0;
					overflow: hidden;
					backface-visibility: hidden;
					animation-name: clients-grid;
					animation-duration: 20s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						max-height: 40px;
						max-width: 100px;
						transform: translate(-50%, -50%);
						@include breakpoint(sm) {
							max-height: 50px;
							max-width: 150px;
						}
						@include breakpoint(md) {
							max-height: 70px;
							max-width: 200px;
						}
					}
					// &:nth-of-type(1){
					// 	animation-delay: 0s;
					// }
					// &:nth-of-type(2){
					// 	animation-delay: 5s;
					// }
				}
			}
		}
	}
}

@keyframes clients-grid {
	0%{opacity:0; z-index:10;}
	5%{opacity:1;}
	
	45%{opacity:1;}
	50%{opacity:0; z-index:0;}
	
	100%{opacity:0;}
}

// About us
.page-about-us {
	.progress-number,
	.progress-title {
		text-align: center;
		@include breakpoint(sm) {
			text-align: left;
		}
	}
	.progress-number {
		font-weight: bold;
		font-size: 4em;
		line-height: 0.7em;
		margin-top: 0;
		@include breakpoint(sm) {
			font-size: 6em;
		}
	}
	.progress-title {
		font-size: 1.6em;
		@include breakpoint(sm) {
			font-size: 2em;
		}
	}
	// Progress office
	.progress-office {
		margin-bottom: 2em;
		@include breakpoint(sm) {
			.progress-number,
			.progress-title {
				padding-right: 40px;
				text-align: right;
			}
		}
	}
}

.page-media-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

// Contact
.page-contact {
	@include breakpoint(sm) {
		height: 100vh;
	}
	.page-content {
		padding-bottom: 150px;
		@include breakpoint(md) {
			padding-bottom: 0;
		}
	}
	// Phone
	.contact-phone,
	.contact-linkedin {
		font-size: 1.7em;
		margin-bottom: 0.3em;
		display: block;
		@include breakpoint(sm) {
			margin-bottom: 0.7em;
		}
		@include breakpoint(md) {
			margin-bottom: 1em;
		}
		.icon {
			margin-right: 3px;
		}
	}
	// Linkedin
	.contact-linkedin {
		.fa-linkedin-square {
			color: $social-linkedin;
			font-size: 1.1em;
			@include breakpoint(sm) {
				font-size: 1.2em;
			}
		}
		.fa-square {
			font-size: 0.9em;
			color: $white;
		}
	}
	.fa-stack {
		width: 1em;
		height: 1em;
		line-height: 0.8em;
	}
	// Facebook
	.facebook-card {
		@include clearfix;
		position: absolute;
		z-index: 11;
		width: 90%;
		right: 0;
		bottom: 5%;
		background-color: $social-facebook;
		@include breakpoint(md) {
			z-index: 0;
		}
		.icon {
			float: left;
			margin-left: -60px;
			width: 120px;
		}
		.facebook-body {
			padding-left: 0;
			@include breakpoint(sm) {
				padding-left: 80px;
			}
			.facebook-title {
				font-size: 26px;
				line-height: 1.1em;
				@include breakpoint(sm) {
					font-size: 32px;
				}
			}
		}
		.btn-facebook {
			position: relative;
			&:hover,
			&:active {
				text-decoration: none;
				color: $white;
				&:after {
					opacity: 0.2;
				}
			}
			&:after {
				@include transition;
				content: '\f08e';
				font-family: 'FontAwesome';
				margin-left: 10px;
				font-size: 1em;
				position: absolute;
				right: -25px;
				top: -1px;
				opacity: 0;
			}
		}
	}
}


