// Moving
.page-moving {
	// Questionnaire
	// Toggle form section
	.form-section-toggle {
		color: $grey;
		display: block;
		margin-bottom: 1em;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:before {
			content: '\f067';
			font-family: 'FontAwesome';
		}
		&[aria-expanded="true"] {
			&:before {
				content: '\f068';
			}
		}
		@include breakpoint(sm) {
			display: none;
		}
		& + .form-section.collapse {
			@include breakpoint(sm) {
				display: block;
			}
		}
	}
	// Toggle form element
	.form-label-toggle {
		font-weight: bold;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:before {
			content: '\f067';
			font-family: 'FontAwesome';
		}
		&[aria-expanded="true"] {
			&:before {
				content: '\f068';
			}
		}
	}
	.form-section {
		.checkbox {
			margin-top: 0;
		}
	}
	// Moving section
	.form-section-moving {
		margin-left: -21px;
		margin-right: -21px;
		padding-left: 13px;
		padding-right: 13px;
		background-color: rgba($grey, 0.1);
		padding-top: 1em;
		margin-bottom: 1em;
		@include breakpoint(sm) {
			margin-left: -28px;
			margin-right: -28px;
		}
	}
	// Submit form
	.form-actions {
		.btn-submit {
			display: block;
			width: 100%;
			text-transform: uppercase;
			@include breakpoint(sm) {
				width: auto;
				display: inline-block;
			}
		}
	}
	// Thank you message
	.thankyou-message {
		@include clearfix;
		color: $grey;
		.thankyou-title {
			margin-top: 0;
		}
		.lead {
			font-size: 18px;
		}
		.btn-send-another {
			display: block;
			width: 100%;
			text-transform: uppercase;
			@include breakpoint(sm) {
				width: auto;
				display: inline-block;
			}
		}
	}
}

// Carousel pages
.carousel-slides {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	.carousel-inner {
		height: 100%;
		.item {
			height: 100%;
			backface-visibility: visible;
		}
	}
}
// Carousel fade
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

// Tabs
.nav-tabs {
	border-bottom: 0;
	display: flex;
	& > li {
		flex-grow: 1;
		margin-bottom: 0;
		text-align: center;
		&:last-child {
			a {
				margin-right: 0;
			}
		}
		& > a {
			@include transition;
			background-color: rgba($white, 0.7);
			font-size: 1.2em;
			font-weight: 500;
			border: 0;
			color: $black;
			padding-left: 1.5em;
			padding-right: 1.5em;
			&:hover,
			&:focus {
				background-color: rgba($white, 0.5);

			}
		}
		&.active {
			a {
				color: $black;
				border: 0;
				background-color: rgba($white, 0.9);
				&:hover,
				&:focus {
					background-color: rgba($white, 0.9);
					border: 0;
				}
			}
		}
	}
}
// Tab content
.tab-content {
	padding: 1.5em;
	background-color: rgba($white, 0.9);
	@include breakpoint(sm) {
		padding: 2em 2em 1em 2em;
	}
}