.modal {
	&.in {
		display: flex !important;
		background-color: rgba($black, 0.5);
	}

	.modal-dialog {
		margin: auto;
	}

	.modal-content {
		border-radius: 0;
		background-color: rgba($black, 0.95);
	}

	.modal-header {
		border-bottom-color: $grey;

		.modal-close {
			span {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 1.5em;
				font-weight: 300;
				line-height: 0.75;
				color: $white;
				text-shadow: none;
			}
		}
	}

	.modal-body {
		max-height: 70vh;
		overflow: auto;
	}

	.modal-footer {
		border-top-color: $grey;
	}

	&.modal-privacy-policy {
		.privacy-policy {
			.privacy-policy--policies {
				padding: 10px 25px;

				& > li {
					margin-bottom: 20px;

					&::marker {
						font-size: 18px;
					}
				}
			}

			ul {
				margin-bottom: 2rem;

				li {
					position: relative;
					list-style-type: none;
					
					&::before {
						content: '';
						width: 3px;
						height: 12px;
						transform: skew(-12deg);
						background-color: $brand-red;
						display: inline-block;
						top: 4px;
						position: absolute;
						left: -1.5rem;
					}
				}
			}

			h4, h5 {
				font-weight: 700;
			}
		}
	}
}