// Template file
html,
body {
	height: 100%;
}
body {
	position: relative;
	font-family: $font;
	color: $white;
}

// Typography
h1, .h1 {
	// font-size: px;
}

a {
	color: $white;
}
.lead {
	margin-bottom: 10px;
	@include breakpoint(sm) {
		margin-bottom: 20px;
	}
}

// Alerts
.alert {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	&-danger {
		background-color: lighten($brand-red, 30%);
	}
}

// Background images
.bg-image {
	width: 100vw; 
	height: 100%;
	background-size: cover;
	background-position: center center;
}

// Forms
.form-group {
	label {
		color: $grey;
	}
	.form-label-toggle {
		color: $grey;
		margin-bottom: 5px;
		display: block;
	}
}
.form-section-toggle {
	color: $grey;
	@include breakpoint(sm) {
		display: none;
	}
	& + .form-section.collapse {
		@include breakpoint(sm) {
			display: block;
		}
	}
}
.form-actions {
	.btn-submit {
		display: block;
		width: 100%;
		text-transform: uppercase;
		@include breakpoint(sm) {
			width: auto;
			display: inline-block;
		}
	}
}

// Buttons
.btn {
	@include transition;
	border: 0;
	&-primary {
		background-color: $brand-red;
		&:hover,
		&:focus {
			background-color: $brand-red-dark;
		}
	}
}
.btn-lg {
	padding: 8px 25px;
}

// Pages
.page {
	// height: 100%;
	padding: 5em 1.5em 2em;
	position: relative;
	@include breakpoint(sm) {
		padding: 8em 3em 2em;
	}
	@include breakpoint(md) {
		padding: 7em 3em 2em;
		height: 100vh;
	}
	@include breakpoint(lg) {
		padding: 9em 5em 2em;
	}
	.page-heading {
		position: relative;
		z-index: 10;
	}
	.page-title {
		font-size: 26px;
		@include breakpoint(sm) {
			font-size: 28px;
		}
		@include breakpoint(md) {
			font-size: 32px;
		}
		@include breakpoint(lg) {
			font-size: 36px;
		}
	}
	.page-lead {
		text-transform: uppercase;
		font-style: italic;
		margin-bottom: 1.7em;
		@include breakpoint(sm) {
			margin-bottom: 2em;
		}
		@include breakpoint(md) {
			margin-bottom: 3em;
		}
	}
	// Intro
	&-intro {
		height: 100vh;
		.page-heading {
			text-align: center;
		}
	}
	// Clients
	&-clients {
		.page-heading {
			text-align: center;
		}
	}
	// Page content right
	&-content-right {
		.page-heading,
		.page-text {
			@include breakpoint(sm) {
				text-align: right;
			}
		}
	}
	// Page content
	&-content {
		position: relative;
		z-index: 10;
	}
	// Text
	&-text-collapse {
		padding: 1em;
		@include breakpoint(md) {
			display: none;
		}
	}
	&-text {
		padding-bottom: 1em;
		@include breakpoint(md) {
			display: block;
		}
		p {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
	// Media
	&-media {
		
	}
	// Page slides
	&-slides {
		.page-heading {
			display: none;
			&.shown {
				display: block;
			}
		}
		.page-text {
			div {
				display: none;
				&.shown {
					display: block;
				}
			}
		}
	}
	// Touch
	.no-touch & {
		// Hover over current page
		&:hover {
			.page-split-body {
				@include breakpoint(md) {
					width: 52vw;
				}
			}
		}
	}
}

// Page split
.page-split {
	overflow: hidden;
	position: absolute;
	width: 100vw;
	// height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	@include breakpoint(md) {
		height: 100vh;
	}
	&-body {
		@include transition;
		height: 100%;
		width: 100vw;
		overflow: hidden;
		background-color: rgba($black, 0.6);
		@include breakpoint(md) {
			-webkit-transform: skew(-12deg);
			-moz-transform: skew(-12deg);
			-o-transform: skew(-12deg);
			margin-left: -3vw;
			width: 50vw;
			height: 100vh;
		}
		.page-content-right & {
			float: right;
		}
	}
}

// Carousel pages
.carousel-slides {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	.carousel-inner {
		height: 100%;
		.item {
			height: 100%;
		}
	}
}
// Carousel fade
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

// Tabs
.nav-tabs {
	border-bottom: 0;
	display: flex;
	& > li {
		flex-grow: 1;
		margin-bottom: 0;
		text-align: center;
		&:last-child {
			a {
				margin-right: 0;
			}
		}
		& > a {
			@include transition;
			background-color: rgba($white, 0.5);
			font-size: 1.2em;
			font-weight: 500;
			border: 0;
			color: $black;
			padding-left: 1.5em;
			padding-right: 1.5em;
			&:hover,
			&:focus {
				background-color: rgba($white, 0.4);

			}
		}
		&.active {
			a {
				color: $black;
				border: 0;
				background-color: rgba($white, 0.7);
				&:hover,
				&:focus {
					background-color: rgba($white, 0.7);
					border: 0;
				}
			}
		}
	}
}
// Tab content
.tab-content {
	padding: 1.5em;
	background-color: rgba($white, 0.7);
	@include breakpoint(sm) {
		padding: 2em;
	}
}