// Template file
html,
body {
	height: 100%;
}
body {
	position: relative;
	font-family: $font;
	color: $white;
}

// Typography
h1, .h1 {
	// font-size: px;
}

a {
	color: $white;
}
.lead {
	margin-bottom: 10px;
	font-size: 14px;
	@include breakpoint(sm) {
		font-size: 16px;
		margin-bottom: 20px;
	}
}

// Alerts
.alert {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	padding-left: 28px;
	&-danger {
		background-color: lighten($brand-red, 30%);
	}
	.close {
		font-size: 24px;
	}
}

// Background images
.bg-image {
	width: 100vw; 
	height: 100%;
	background-size: cover;
	background-position: center center;
}

// Forms
.form-group {
	label {
		color: $grey;
		border-width: 2px;
	}
	.form-label-toggle {
		color: $grey;
		margin-bottom: 5px;
		display: block;
	}
	.required {
		&:after {
			content: '\f069';
			font-family: 'FontAwesome';
		}
		color: $brand-red;
		font-size: 8px;
	}
	input[type="date"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		line-height: 22px;
	}
	input,
	textarea {
		@include zoom();
		border-radius: 2px;
		border-color: transparent;
		box-shadow: none;
		font-size: 16px;
		@include breakpoint(sm) {
			font-size: 14px;
		}
	}
	// Validation states
	&.has-error {
		.control-label {
			color: $brand-red;
		}
		.form-control {
			border-width: 2px;
			border-color: $brand-red;
			box-shadow: none;
		}
	}
}

// Checkboxes
.checkbox {
	color: $grey;
	padding-left: 18px;
	input[type="checkbox"] {
		cursor: pointer;
		opacity: 0;
		z-index: 1;
		outline: none !important;
		margin-left: 0;
		&:checked {
			& + label {
				color: $brand-red;
				&:before {
					background-color: $brand-red;
				}
				&:after {
					content: "\f00c";
					font-family: 'FontAwesome';
					color: $white;
				}
			}
		}
		&:focus {
			& + label {
				&:before {
					background-color: $brand-red;
				}
			}
		}
	}
	label {
		display: inline-block;
		padding-left: 5px;
		// text-transform: uppercase;
		line-height: 17px;
		&:before {
			@include transition;
			content: "";
			border-radius: 3px;
			border: 0;
			display: inline-block;
			height: 16px;
			width: 16px;
			left: 0;
			position: absolute;
			background-color: $grey;
			outline: none !important;
		}
		&:after {
			position: absolute;
			display: inline-block;
			font-size: 10px;
			height: 16px;
			width: 16px;
			top: 0;
			left: 0;
			padding-left: 3px;
			padding-top: 0;
		}
	}
}

// Buttons
.btn {
	@include transition;
	border: 0;
	border-radius: 2px;
	&-primary {
		background-color: $brand-red;
		&:hover,
		&:focus {
			background-color: $brand-red-dark;
		}
	}
}
.btn-lg {
	padding: 8px 25px;
}

// Pages
.page {
	// height: 100%;
	padding: 5em 1.5em 2em;
	position: relative;
	@include breakpoint(sm) {
		padding: 8em 3em 2em;
	}
	@include breakpoint(md) {
		padding: 7em 3em 2em;
		height: 100vh;
	}
	@include breakpoint(lg) {
		padding: 9em 5em 2em;
	}
	.page-heading {
		position: relative;
		z-index: 10;
	}
	.page-title {
		font-size: 26px;
		@include breakpoint(sm) {
			font-size: 28px;
		}
		@include breakpoint(md) {
			font-size: 32px;
		}
		@include breakpoint(lg) {
			font-size: 36px;
		}
	}
	.page-lead {
		text-transform: uppercase;
		font-style: italic;
		margin-bottom: 1.7em;
		@include breakpoint(sm) {
			margin-bottom: 2em;
		}
		@include breakpoint(md) {
			margin-bottom: 3em;
		}
	}
	// Intro
	&-intro {
		height: 100vh;
		.page-heading {
			text-align: center;
		}
	}
	// Clients
	&-clients {
		.page-heading {
			text-align: center;
		}
	}
	// Page content right
	&-content-right {
		.page-heading,
		.page-text {
			@include breakpoint(sm) {
				text-align: right;
			}
		}
	}
	// Page content
	&-content {
		position: relative;
		z-index: 10;
	}
	// Text
	&-text-collapse {
		padding: 1em;
		&:hover,
		&:focus {
			color: $white;
			text-decoration: none;
		}
		&:before {
			content: '\f055';
			font-family: 'FontAwesome';
		}
		&[aria-expanded="true"] {
			&:before {
				content: '\f056';
			}
		}
		@include breakpoint(md) {
			display: none;
		}
	}
	&-text {
		padding-bottom: 1em;
		@include breakpoint(md) {
			display: block;
		}
		p {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
	// Media
	&-media {
		
	}
	// Page slides
	&-slides {
		.page-heading {
			display: none;
			&.shown {
				display: block;
			}
		}
		.page-text {
			div {
				display: none;
				&.shown {
					display: block;
				}
			}
		}
	}
	&-bg-image {
		position: absolute;
		top: 0;
		left: 0;
	}
	// Touch
	.no-touch & {
		// Hover over current page
		&:hover {
			.page-split-body {
				@include breakpoint(md) {
					// width: 52vw;
				}
			}
		}
	}
}
.no-touch .page-intro {
	// Hover over current page
	&:hover {
		.page-split-body {
			@include breakpoint(md) {
				// width: auto;
			}
		}
	}
}

// Page split
.page-split {
	overflow: hidden;
	position: absolute;
	width: 100vw;
	// height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	@include breakpoint(md) {
		height: 100vh;
	}
	&-body {
		@include transition;
		height: 100%;
		width: 100vw;
		overflow: hidden;
		background-color: rgba($black, 0.6);
		@include breakpoint(md) {
			-webkit-transform: skew(-12deg);
			-moz-transform: skew(-12deg);
			-o-transform: skew(-12deg);
			margin-left: -3vw;
			width: 50vw;
			height: 100vh;
		}
		.page-content-right & {
			float: right;
		}
	}
	.page-intro & {
		&-body {
			width: 100vw;
			background-color: rgba($black, 0.4);
			@include breakpoint(md) {
				width: 0;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.split-office {
			@include breakpoint(md) {
				width: 28vw;
			}
		}
		.split-home {
			@include breakpoint(md) {
				width: 52vw;
			}
		}
		.split-international {
			@include breakpoint(md) {
				width: 76vw;
			}
		}
		.split-archive {
			@include breakpoint(md) {
				width: 100vw;
			}
		}
	}
}

// Carousel pages
.carousel-slides {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	.carousel-inner {
		height: 100%;
		.item {
			height: 100%;
		}
	}
}
// Carousel fade
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

// Tabs
.nav-tabs {
	border-bottom: 0;
	display: flex;
	& > li {
		flex-grow: 1;
		margin-bottom: 0;
		text-align: center;
		&:last-child {
			a {
				margin-right: 0;
			}
		}
		& > a {
			@include transition;
			background-color: rgba($white, 0.5);
			font-size: 1.2em;
			font-weight: 500;
			border: 0;
			color: $black;
			padding-left: 1.5em;
			padding-right: 1.5em;
			&:hover,
			&:focus {
				background-color: rgba($white, 0.4);

			}
		}
		&.active {
			a {
				color: $black;
				border: 0;
				background-color: rgba($white, 0.7);
				&:hover,
				&:focus {
					background-color: rgba($white, 0.7);
					border: 0;
				}
			}
		}
	}
}
// Tab content
.tab-content {
	padding: 1.5em;
	background-color: rgba($white, 0.7);
	@include breakpoint(sm) {
		padding: 2em 2em 1em 2em;
	}
}