// Theme
.page-intro {
	background-color: #636363;
}
.page-moving {
	background-color: $func-blue;
}
.page-clients {
	background-color: $func-yellow;
}
.page-about-us {
	background-color: $func-green;
}
.page-contact {
	background-color: $func-red;
}